

.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: 350px 350px 350px;
}

.SearchBar{
  position: absolute;
  width: 300px;
  margin: 5px;
  height: 20px;
  text-decoration: none;
  outline: none;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
  top:15px;
  left: 520px;
}



